//---------
//  Fonts
//---------

//
// Style
//

%font--bold {
  font-weight: bold;
}

%font--italic {
  font-style: italic;
}

//
// Sizes
//

%font--giga {
  font-size: $base-font-size * 4;
}

%font--mega {
  font-size: $base-font-size * 3;
}

%font--kilo {
  font-size: $base-font-size * 2;
}

%font--milli {
  font-size: $base-font-size * 0.875;
}

%font--micro {
  font-size: $base-font-size * 0.75;
}
