//-----------
//  Margins
//-----------

//
// Push
//

%push {
  margin: $base-spacing-unit;
}

%push--top {
  margin-top: $base-spacing-unit;
}

%push--right {
  margin-right: $base-spacing-unit;
}

%push--bottom {
  margin-bottom: $base-spacing-unit;
}

%push--left {
  margin-left: $base-spacing-unit;
}

%push--ends {
  margin-top: $base-spacing-unit;
  margin-bottom: $base-spacing-unit;
}

%push--sides {
  margin-right: $base-spacing-unit;
  margin-left: $base-spacing-unit;
}

// Halfs

%push-half {
  margin: $base-spacing-unit / 2;
}

%push-half--top {
  margin-top: $base-spacing-unit / 2;
}

%push-half--right {
  margin-right: $base-spacing-unit / 2;
}

%push-half--bottom {
  margin-bottom: $base-spacing-unit / 2;
}

%push-half--left {
  margin-left: $base-spacing-unit / 2;
}

%push-half--ends {
  margin-top: $base-spacing-unit / 2;
  margin-bottom: $base-spacing-unit / 2;
}

%push-half--sides {
  margin-right: $base-spacing-unit / 2;
  margin-left: $base-spacing-unit / 2;
}

//
// Flush
//

%flush {
  margin: 0;
}

%flush--top {
  margin-top: 0;
}

%flush--right {
  margin-right: 0;
}

%flush--bottom {
  margin-bottom: 0;
}

%flush--left {
  margin-left: 0;
}

%flush--ends {
  margin-top: 0;
  margin-bottom: 0;
}

%flush--sides {
  margin-right: 0;
  margin-left: 0;
}
