//------------
//  Paddings
//------------

//
// Soft
//

%soft {
  padding: $base-spacing-unit;
}

%soft--top {
  padding-top: $base-spacing-unit;
}

%soft--right {
  padding-right: $base-spacing-unit;
}

%soft--bottom {
  padding-bottom: $base-spacing-unit;
}

%soft--left {
  padding-left: $base-spacing-unit;
}

%soft--ends {
  padding-top: $base-spacing-unit;
  padding-bottom: $base-spacing-unit;
}

%soft--sides {
  padding-right: $base-spacing-unit;
  padding-left: $base-spacing-unit;
}

// Halfs

%soft-half {
  padding: $base-spacing-unit / 2;
}

%soft-half--top {
  padding-top: $base-spacing-unit / 2;
}

%soft-half--right {
  padding-right: $base-spacing-unit / 2;
}

%soft-half--bottom {
  padding-bottom: $base-spacing-unit / 2;
}

%soft-half--left {
  padding-left: $base-spacing-unit / 2;
}

%soft-half--ends {
  padding-top: $base-spacing-unit / 2;
  padding-bottom: $base-spacing-unit / 2;
}

%soft-half--sides {
  padding-right: $base-spacing-unit / 2;
  padding-left: $base-spacing-unit / 2;
}

//
// Hard
//

%hard {
  padding: 0;
}

%hard--top {
  padding-top: 0;
}

%hard--right {
  padding-right: 0;
}

%hard--bottom {
  padding-bottom: 0;
}

%hard--left {
  padding-left: 0;
}

%hard--ends {
  padding-top: 0;
  padding-bottom: 0;
}

%hard--sides {
  padding-right: 0;
  padding-left: 0;
}
