//----------
//  Widths
//----------

%one-whole {
  width: 100%;
}

%nine-tenths {
  width: 90%;
}

%eight-tenths,
%four-fifths {
  width: 80%;
}

%three-fourths,
%three-quarters {
  width: 75%;
}

%seven-tenths {
  width: 70%;
}

%two-thirds {
  width: 66.666%;
}

%six-tenths,
%three-fifths {
  width: 60%;
}

%one-half {
  width: 50%;
}

%four-tenths,
%two-fifths {
  width: 40%;
}

%one-third {
  width: 33.333%;
}

%three-tenths {
  width: 30%;
}

%one-fourth,
%one-quarter {
  width: 25%;
}

%two-tenths,
%one-fifth {
  width: 20%;
}

%one-tenth {
  width: 10%;
}
